@charset "UTF-8";

/* 回答はここに書いてね */

.q5__content{
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #ECF1F2;
  position: relative;
  text-align: center;
  line-height: 100%;
  font-weight: bold;
}

.q5__box{
  position: absolute;
  width: 100px;
  height: 100px;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
}

.box1{
  z-index: 1;
  background-color: #ffefd3;
  top: 40px;
  right: 200px;
  bottom: 360px;
  left: 200px;
}

.box2{
  z-index: 2;
  background-color: #7084de;
  top: 120px;
  right: 120px;
  bottom: 280px;
  left: 280px;
}

.box3{
  z-index: 3;
  background-color: #d0ecea;
  top: 200px;
  right: 40px;
  bottom: 200px;
  left: 360px;
}

.box4{
  z-index: 4;
  background-color: #8b7a5e;
  top: 280px;
  right: 120px;
  bottom: 120px;
  left: 280px;
}

.box5{
  z-index: 5;
  background-color: #9fd6d2;
  top: 360px;
  right: 200px;
  bottom: 40px; 
  left:200px;
}

.box6{
  z-index: 6;
  background-color: #fffee4;
  top: 280px;
  right: 280px; 
  bottom:120px;
  left: 120px;
}

.box7{
  z-index: 7;
  background-color: #deae70;
  top: 200px;
  right: 360px;
  bottom: 200px;
  left: 40px;
}

.box8{
  z-index: 8;
  background-color: #de70cf;
  top: 120px; 
  right:280px;
  bottom: 280px;
  left: 120px;
}

.box8::after{
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #FFEFD3;
  content: "";
}

.box9{
  position: fixed;
  top:10px;
  left: 10px;
  background-color: #2b69a3;
}

/* 回答はここに書いてね */
