@charset "UTF-8";

/* 回答はここに書いてね */
.q3__content{
  margin: 0 auto;
  table-layout: fixed;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
}

th{
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

th,tr,td{
  border: solid #dedede 1px;
  text-align: center;
  padding: 10px 0 10px;
}

tbody tr:nth-child(2n){
  background-color: #ecf1f2;
}

tbody tr:nth-child(4){
  border-bottom: dashed #000 2px;
}

/* 回答はここに書いてね */
